#footer{
    margin-top: 150px;
}






#social-con ul{
    display: flex;

    justify-content:space-around;
}






@media screen and (max-width:767px) {
    
#footer-nav{
    #support, #about-us{
        display: none;
    }
}
}